.facebook-header-container {
  margin-bottom: 1vh;
}

.navbar {
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
}

.navigation-container {
  display: flex;
}

.navigation-element {
  font-size: 40px;
  padding-left: 3vw;
  padding-right: 3vw;
  color: grey;
}

.settings-element {
  font-size: 30px;
  margin-left: 0.5vw;
  padding: 5px;
  margin-right: 0.5vw;

  border-radius: 100%;
  background-color: #e4e6eb;
}

.settings-container {
  display: flex;
}
