<div class="facebook-header-container">
  <nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
      <div class="search-container">
        <a class="navbar-brand" href="#">
          <img
            src="../../../../assets/images/facebook.png"
            alt=""
            width="70"
            height="70"
          />
        </a>

        <form>
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
      </div>

      <div class="navigation-container">
        <a>
          <span class="material-symbols-outlined navigation-element">
            home
          </span>
        </a>

        <a>
          <span class="material-symbols-outlined navigation-element">
            play_circle
          </span>
        </a>

        <a>
          <span class="material-symbols-outlined navigation-element">
            groups
          </span>
        </a>

        <a>
          <span class="material-symbols-outlined navigation-element">
            storefront
          </span>
        </a>
      </div>

      <div class="settings-container">
        <a>
          <span class="material-symbols-outlined settings-element"> menu </span>
        </a>

        <a>
          <span class="material-symbols-outlined settings-element">
            notifications
          </span>
        </a>

        <a>
          <span class="material-symbols-outlined settings-element"> chat </span>
        </a>

        <a>
          <span class="material-symbols-outlined settings-element">
            account_circle
          </span>
        </a>
      </div>
    </div>
  </nav>
</div>
